body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;

    font-family: sans-serif;

    --oneplayer-grey: url('icons/oneplayer-grey.svg');
    --oneplayer: url('icons/oneplayer.svg');
    --twoplayer-grey: url('icons/twoplayer-grey.svg');
    --twoplayer: url('icons/twoplayer.svg');
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.turn {
    height: 15vh;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

@media only screen and (max-width: 600px) {
    .boardGrid {
        height: 40vh;
        width: 90vw;
    }

    button.cell {
        font-size: 5rem;
    }

  }

@media only screen and (min-width: 600px) {
    .boardGrid {
        height: 600px;
        width: 600px;
    }

    button.cell {
        font-size: 10rem;
    }
}


.boardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

button {
    cursor: pointer;
    padding: 0;
    margin: 0;
}

button.cell {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
}

/* vertical middle border */
div.cellDiv:nth-child(2),
div.cellDiv:nth-child(5),
div.cellDiv:nth-child(8) {
    border-left: solid 3px white;
    border-right: solid 3px white;
}

/* horizontal middle border */
div.cellDiv:nth-child(4),
div.cellDiv:nth-child(5),
div.cellDiv:nth-child(6) {
    border-top: solid 3px white;
    border-bottom: solid 3px white;
}

.scoreboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
}

.score {
    display: inline-block;
    text-align: center;
}

.score.one {
    margin-left: auto;
}

.score.three {
    margin-right: auto;
}



.scoreboard-title {
    font-size: 1.3rem;
    line-height: 0;
}

.scoreboard-score {
    font-size: 3rem;
    line-height: 0;
}

.player-select {
    text-align: center;
    line-height: 0;
    font-weight: bold;
    color: #818181;
}

img.oneplayer-icon {
    content: var(--oneplayer-grey);
}

img.oneplayer-icon:hover {
    content: var(--oneplayer);
    cursor: pointer;
}

img.twoplayer-icon {
    content: var(--twoplayer-grey);
}

img.twoplayer-icon:hover {
    content: var(--twoplayer);
    cursor: pointer;
}


