body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.turn {
    height: 15vh;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boardGrid {
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

button {
    cursor: pointer;
    padding: 0;
    margin: 0;
}

button.cell {
    height: 100%;
    width: 100%;
    font-size: 3rem;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 10rem;
    font-weight: bold;
}

/* vertical middle border */
div.cellDiv:nth-child(2),
div.cellDiv:nth-child(5),
div.cellDiv:nth-child(8) {
    border-left: solid 3px white;
    border-right: solid 3px white;
}

/* horizontal middle border */
div.cellDiv:nth-child(4),
div.cellDiv:nth-child(5),
div.cellDiv:nth-child(6) {
    border-top: solid 3px white;
    border-bottom: solid 3px white;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.overlay .winner, .overlay .tie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.hide {
    display: none;
}

.player {
    font-size: 5rem;
}

.scoreboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
}

.score {
    display: inline-block;
    text-align: center;
}

.scoreboard-title {
    font-size: 1.3rem;
    line-height: 0;
}

.scoreboard-score {
    font-size: 3rem;
    line-height: 0;
}

.player-select {
    text-align: center;
    line-height: 0;
    font-weight: bold;
    color: #818181;
}

img#player-icon {
    content: url('icons/oneplayer-grey.svg');
}

img#player-icon:hover {
    content: url('icons/oneplayer.svg');
    cursor: pointer;
}

